<!-- Responsive panel example-->

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 isotope-item">
    <%= render @favorite.favoriteable_type.downcase, favorite: @favorite %>
  </div>
</div>

<!-- End responsive panel example -->
